<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.generic.plannr">

    <application
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:label="@string/app_name"
            android:icon="@drawable/ic_plannr_p_black"
            android:roundIcon="@drawable/ic_plannr_p_black"
            android:supportsRtl="true"
            android:theme="@style/Theme.Plannr">
        <activity android:name="com.generic.plannr.SettingsActivity"> </activity>
        <activity android:name="com.generic.plannr.SignUpActivity"> </activity>
        <activity android:name="com.generic.plannr.AddEventActivity"> </activity>
        <activity android:name="com.generic.plannr.AddStudySessionEventActivity"> </activity>
        <activity android:name="com.generic.plannr.AddClassEventActivity"> </activity>
        <activity android:name="com.generic.plannr.AddDeadlineEventActivity"> </activity>
        <activity android:name="com.generic.plannr.AddExpensesActivity"> </activity>
        <activity android:name="com.generic.plannr.ExpensesActivity"> </activity>
        <activity android:name="com.generic.plannr.SchoolActivity"> </activity>
        <activity android:name="com.generic.plannr.LoginActivity"> </activity>
        <activity
                android:name="com.generic.plannr.MainActivity"
                android:label="Main"
                android:exported="true"> </activity>
        <activity
                android:name="com.generic.plannr.WelcomeActivity"
                android:theme="@style/Theme.Plannr"
                tools:ignore="AllowBackup"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>