<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.generic.ult">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Uni_life_tracker">
        <activity android:name=".SettingsActivity"> </activity>
        <activity android:name=".SignUpActivity"
                  android:theme="@style/Theme.Uni_life_tracker"
                  tools:ignore="AllowBackup"> </activity>
        <activity
                android:name=".AddExpenses"
                android:label="title_activity_exoenses_list"
                android:theme="@style/Theme.Uni_life_tracker.NoActionBar"> </activity>
        <activity
                android:name=".ExpensesList"
                android:label="@string/title_activity_add_expenses"
                android:theme="@style/Theme.Uni_life_tracker.NoActionBar"> </activity>
        <activity
                android:name=".ExpensesLanding"
                android:label="@string/title_activity_expenses_landing"
                android:theme="@style/Theme.Uni_life_tracker.NoActionBar"> </activity>
        <activity android:name=".MainPageActivity"
                  android:exported="true"> </activity>
        <activity android:name=".WelcomeActivity"
                  android:theme="@style/Theme.Uni_life_tracker"
                  tools:ignore="AllowBackup"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>