<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.generic.plannr">

    <application
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@drawable/ic_plannr_p_black"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_plannr_p_black"
            android:supportsRtl="true"
            android:theme="@style/Theme.Plannr">
        <activity android:name=".SettingsActivity">
        </activity>
        <activity android:name=".SignUpActivity">
        </activity>
        <activity android:name=".AddAssessmentEventActivity">
        </activity>
        <activity android:name=".AddStudySessionEventActivity">
        </activity>
        <activity android:name=".AddClassEventActivity">
        </activity>
        <activity android:name=".AddDeadlineEventActivity">
        </activity>
        <activity android:name=".AddExpensesActivity">
        </activity>
        <activity android:name=".ExpensesActivity">
        </activity>
        <activity android:name=".SchoolActivity">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="Main">
        </activity>
        <activity
                android:name=".WelcomeActivity"
                android:exported="true"
                android:theme="@style/Theme.Plannr"
                tools:ignore="AllowBackup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>